<h1><%=datos[:numero]%></h1>
<div class="error-divider">
  <h2><%=datos[:mensaje]%></h2>
  <p class="description"><%=datos[:descripcion]%></p>
</div>
<a href="<%=CONSTANTS[:BASE_URL]%>" class="btn btn-primary">
  <i class="fa fa-home" style="margin-right:5px"></i>
  Ir al Inicio
</a>
