<form action="<%=CONSTANTS[:BASE_URL]%>login/acceder" method="post">
  Usuario<br>
  <input type="text" name="usuario">
  <br>
  Contraseña<br>
  <input type="password" name="contrasenia">
  <br><br>
  <input type="submit" value="Ingresar" class="btn btn-primary">
  {%if data == True%}
  <br>
  <label class="color-rojo"><i class="fa fa-user" aria-hidden="true"></i>Usuario y/o contraseña incorrectos</label>
  {%end%}
</form>
