<html>
<head>
	<title>Home</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= ApplicationHelper.load_css(csss) %>
</head>
<body>
  <h1>Header</h1>
  <%= yield %>
  <h3>Footer</h3>
	<%= ApplicationHelper.load_js(jss) %>
</body>
</html>
